<div class="container-fluid">
  <div class="headeradviser">
    <h4>
      <strong>affiliations</strong>
    </h4>
  </div>
  <div class="headeradviser1">
    <h4>
      <strong>Our Affiliations</strong>
    </h4>
  </div>

  <div>
    <p class="textf">
      Our client relationship partners take responsibility for understanding
      your needs, bringing the right specialists together to meet them and
      ensuring you receive a consistently high quality
      <br />
      of service.
    </p>

    <p></p>
  </div>

  <div class="p-grid p-align-start vertical-container align">
    <div class="p-col-5">
      <div class="col-12 clearfloat">
        <img
          src="assets/Shafiq-UR-Rehman.jpg"
          style="width: 270px; height: 270px;"
        />
      </div>
    </div>
    <div class="p-col-7 clearfloat">
      <div class="row clearfloat">
        <div class="col-12 clearfloat">
          <p>
            He is fellow member of Institute of Certified Public Accountant of
            United Kingdom and Pakistan and Fellow member of Certified Corporate
            Executive Accountant (USA), Associate of Financial
          </p>
          <p class="clearfloat">
            Accountant (UK), Certificate in IFRS(ACCA), IPA (Australia), Member
            of IFA, Certificate in USA Federal Taxation(Devry University) and
            holds Master Degree in Business and Administration. He has over 20
            years diversified experience in UAE/Pakistan in financial accounting
            & financialmanagement, internal & external Auditing. He has worked
            as Financial Advisor of Hamdan Bin Mohammad Heritage Centre in
            Dubai-UAE
          </p>
        </div>
      </div>
    </div>
  </div>

  <div class="p-grid p-align-start vertical-container align">
    <div class="p-col-7 clearfloat">
      <div class="row clearfloat">
        <div class="col-12 clearfloat">
          <p>
            He is fellow member of Institute of Certified Public Accountant of
            United Kingdom and Pakistan and Fellow member of Certified Corporate
            Executive Accountant (USA), Associate of Financial
          </p>
          <p class="clearfloat">
            Accountant (UK), Certificate in IFRS(ACCA), IPA (Australia), Member
            of IFA, Certificate in USA Federal Taxation(Devry University) and
            holds Master Degree in Business and Administration. He has over 20
            years diversified experience in UAE/Pakistan in financial accounting
            & financialmanagement, internal & external Auditing. He has worked
            as Financial Advisor of Hamdan Bin Mohammad Heritage Centre in
            Dubai-UAE
          </p>
        </div>
      </div>
    </div>
    <div class="p-col-5">
      <div class="col-12 clearfloat">
        <img
          src="assets/Shafiq-UR-Rehman.jpg"
          style="width: 270px; height: 270px;"
        />
      </div>
    </div>
  </div>
</div>
