
  <div class="container-fluid">
   
    <div class=" headeradviser">
      <h4>
      <strong>affiliations</strong>
    </h4>
      
    </div>
    <div class=" headeradviser1">
      <h2>
      <strong>Leading Edge Alliance Tax Consultant</strong>
    </h2>
    <img src="assets/lea.png" style="width: 120px; height: 60px;">
    <!-- <p-galleria [images]="images" panelWidth="500" panelHeight="313" [showCaption]="true"></p-galleria> -->
    <h4 style="color: #45bbff;">
      SUBSIDIARY OF AHMAD ALAGBARI CHARTERED ACCOUNTANTS
    </h4>
   
    </div>

    
  
  




<div class="p-grid p-align-start vertical-container align">
  <div class="p-col-7 clearfloat">
   
    <div class="row clearfloat">

      
      <div class="col-12 clearfloat">
       
        


  <p class="h5">
  VAT in UAE & GCC
</p>
<p>
  Value-Added Tax or VAT is a tax on the consumption or use of goods and services levied at the point of sale. VAT is a form of indirect tax and is used in more than 180 countries around the world.
  
  The UAE is considering levying Value Added Tax (VAT) from January 2018. The rate of VAT will be 5 per cent.VAT will provide the UAE with a new source of income which will be continued to be utilised to provide high-quality public services. It will also help government move towards its vision of reducing dependence on oil and other hydrocarbons as a source of revenue.
</p>
  <p class="h5">
  Implication of VAT on individuals
</p>
<p>
  VAT, as a general consumption tax, will apply to the majority of transactions in goods and services. A limited number of exemptions may be granted. As a result, the cost of living is likely to increase slightly, but this will vary depending on an individual's lifestyle and spending behaviour. If an individual spends mainly on those things which are relieved from VAT, he is unlikely to see any significant increase. The government will include rules that require businesses to be clear about how much VAT an individual is required to pay for each transaction. Based on this information, individuals can decide whether to buy something.
</p>
  <p class="h5">
  Implication of VAT on businesses
</p>
<p>
  Businesses will be responsible for carefully documenting their business income, costs and associated VAT charges. Businesses that meet the minimum annual turnover requirement (as evidenced by their financial records) will be required to register for VAT. Businesses that do not think that they should be VAT registered should maintain their financial records in any event, in case the ministry needs to establish whether they should be registered. Registered businesses and traders will charge VAT to all of their customers at the prevailing rate and incur VAT on goods/services that they buy from suppliers. The difference between these sums is reclaimed or paid to the government.
</p>
  <p class="h5">
  VAT in GCC
</p>
<p> 
The UAE needs to coordinate VAT implementation with other GCC countries because she is connected with them through 'The Economic Agreement between the GCC States' and 'The GCC Customs Union'. The GCC has always worked together in designing and implementing new public policies as such collaborative approach is best for the collective development of the region.
  
</p>  
<p class="h5">
  We provide services:
</p>

<ul class="check-list"><li>Our global network have been advising and implementing strategies to help organizations comply with their VAT obligations and reduce VAT liabilities and particularly for clients without full VAT recovery.</li>
  <li>Identification of relevant VAT law clauses.</li>
  <li>Impact assessment of VAT on the current accounting cycle.</li>
  <li>Impact assessment of VAT on Procurement &amp; Supply chain.</li>
                     <li>VAT coding of accounts payables &amp; receivables.</li>
                                       <li>VAT impact on the Contracts.</li>
                                       <li>Giving VAT Training Certificates.</li>
                                       <li>VAT consultancy under the name of Leading Edge Alliance Tax Consultants</li>
                                       </ul>



      </div>
    </div>

    
  </div>
  <div class="p-col-5">
    <div class="col-12 clearfloat">
      <img src="assets/Shafiq-UR-Rehman.jpg" style="width: 270px; height: 270px;">
      
    </div>
</div>









</div>
   