
  <div class="container-fluid">
   
    <div class=" headeradviser">
      <h4>
      <strong>Our Services</strong>
    </h4>
      
    </div>
    <!-- <div class=" headeradviser1">
      <h2>
      <strong>Leading Edge Alliance Tax Consultant</strong>
    </h2>
    <img src="assets/lea.png" style="width: 120px; height: 60px;">
     <p-galleria  panelWidth="500" panelHeight="313" ></p-galleria> 
    <h4 style="color: #45bbff;">
      SUBSIDIARY OF AHMAD ALAGBARI CHARTERED ACCOUNTANTS
    </h4>
   
    </div> -->

    
  
    <div class="p-grid p-align-center horizontel-container" style="background-color: #1a1e21;">
      <div class="p-col-5  " style="text-align: center;">

        <div class="p-grid p-align-center horizontel-container">
        <div class="p-col  " style="text-align: center;">
        <img src="assets/Shafiq-UR-Rehman.jpg" style="text-align: center;width: 270px; height: 270px; margin-bottom: 270px;">
      </div>
      <div class="p-col  " style="text-align: center;">
        <img src="assets/Shafiq-UR-Rehman.jpg" style="text-align: center;width: 270px; height: 270px; margin-bottom: 270px;">
      </div>
      </div>
      </div>
      
      <div class="p-col-1 p-col-align-start" style="line-height: -25px ;"><img src="assets/Shafiq-UR-Rehman.jpg" style="width: 70px; height: 90px;"></div>
      <div class="p-col-6 "  >
        <p class="h1" style="color: white; font-size: 18px; margin-top: -15px;">
          Outsourcing & Payroll
      </p>
      
      <p class="textf"  style="margin-left: 1px;color: white;background-color: #1a1e21; text-align:top;  ;">
        If you are considering outsourcing your financial administration, we are well placed to assess your needs and provide the solution. We deliver consistent service quality that meets your evolving needs. Whatever the size of your organisation, our computerised and fully automated payroll service can free you from the burden of running payroll.      </p>
      <br>
      <ul class="check-list " style="margin-left: 1px;color: white;background-color: #1a1e21; ">
        <li>
          Business Risk Services.
        </li>
        <li>        Transaction Advisory Services.
  
  </li>
        <li>        Forensic & Investigation Services.
      
  .</li>
        <li>    Business Diagnostic & Restructuring.</li>
        <li>Market Research & Analysis.
          
          </li>
        <li>Fixed Assets Management Services.</li>
        <li>Investment Counselling and Project Finance.</li>
        </ul>
                
      </div>
     
    
      
  </div>



<!-- 
<div class="p-grid p-align-start horizontel-container align">
  <div class="p-col-5">
    <div class="col-12 clearfloat">
      <img src="assets/Shafiq-UR-Rehman.jpg" style="width: 270px; height: 270px;">
      
    </div>
  <div class="p-col-7 clearfloat">
   
    <div class="row clearfloat">

      
      <div class="col-12 clearfloat">
       
       

<p class="h1">
  International Audit & Supervision
</p>

<p class="textf">
  AAA is a member of Global Accounting and business Advisors Alliance - GAABA, an international alliance of independent accounting firms. With global reach via an alliance of dynamic international, national and regional firms, GAABA opens a new horizon for accounting services across the globe.

Internal Auditors’ roles include supervising, evaluating, investigating and analyzing organizational risk and controls; and reviewing and confirming information and compliance with policies, procedures, and laws. Working together with management, the internal auditors provide assurance that as far as possible risks are significantly reduced and that the organization’s corporate governance is forceful and capable. In addition Internal auditors make recommendations for And, when there is room for improvement, internal auditors make recommendations for augmenting processes, policies, and procedures.”
</p>





      </div>
    </div>

    
  </div>
  
</div>
 -->








</div>
   