<header>

  <div class="container-fluid   ">
    <div class="row height">
      <div class="col-lg-12">
    <div class="d-flex flex-row align-items-center  justify-content-lg-start" >
      
								
        <p style=" margin-right: 70px; margin-left: 70px; "><strong>Ahmad Alagbari Chartered Accountants</strong> © All Rights Reserved 2016 <br> 
          <img src="assets/footer-2.jpg" style="width: 45px; height: 45px; ">
          <img src="assets/footer-3.jpg" style="width: 45px; height: 45px; ">
          <img src="assets/footer-4.jpg" style="width: 45px; height: 45px; ">
          <img src="assets/footer-8.jpg" style="width: 85px; height: 45px; margin-right: 40px; ">
          <div > <a  class="nav-link pl-0 " href="default.aspx">Home</a></div>
          <div > <a  class="nav-link pl-0" href="default.aspx">About us</a></div>
          <div > <a  class="nav-link pl-0" href="default.aspx">Services</a></div>
          <div > <a  class="nav-link pl-0"  href="default.aspx">Affiliations</a></div>
          <div > <a  class="nav-link pl-0" href="default.aspx">Our Team</a></div>
          <div > <a  class="nav-link pl-0" href="default.aspx">Career</a></div>
          <div > <a  class="nav-link pl-0" href="default.aspx">Contact</a></div>
        </div>
      
      
      <!-- <div class=" p-2">Flex item</div>
      <div class="p-2">Flex item</div> -->
    
    </div>
    <!-- <div class="col-lg-7">
    <div class="d-flex  align-items-center flex-row justify-content-lg-start" >
      <div > <a  class="nav-link pl-0" href="default.aspx">Home</a></div>
      <div > <a  class="nav-link pl-0" href="default.aspx">About us</a></div>
      <div > <a  class="nav-link pl-0" href="default.aspx">Services</a></div>
      <div > <a  class="nav-link pl-0"  href="default.aspx">Affiliations</a></div>
      <div > <a  class="nav-link pl-0" href="default.aspx">Our Team</a></div>
      <div > <a  class="nav-link pl-0" href="default.aspx">Career</a></div>
      <div > <a  class="nav-link pl-0" href="default.aspx">Contact</a></div>
    </div>
    
         


  </div> -->
  </div> 
  </div> 





  </header>
  <!-- <div id="header-top">
    
    <div class="container">
      <div class="row">
        <div class="col-sm-7">
          
          <div class="widget widget-contact">
          
            <ul>
              <li>    
                <i class="mt-icon-phone"></i>
                <span class="hidden-xs">+97142287774</span>
                <a class="visible-xs-inline" href="tel:8564386826">+97142287774</a>
              </li>
              <li>
                <i class="mt-icon-mail2"></i>
                <a href="mailto:info@aaa-cas.com">info@aaa-cas.com</a>
              </li>
            </ul>
            
          </div> widget-contact 
          
        </div>col 



        <div class="col-sm-5">
          
          <div class="widget widget-social">
                  
            <div class="social-media rounded">
            
              <a class="facebook" href="https://www.facebook.com/Ahmad-Alagbari-Chartered-Accountants-1383109085303405/" target="_blank"><i class="mt-icon-facebook"></i></a>
              <a class="instagram" href="https://www.instagram.com/ahmadalagbaricas/" target="_blank"><i class="mt-icon-instagram"></i></a>
              <a class="linkedin" href="https://www.linkedin.com/company/ahmad-alagabari-chartered-accountants" target="_blank"><i class="mt-icon-linkedin"></i></a>                               
          
            </div> social-media 
          
          </div> widget-social 
          
        </div> col 
      </div> row 
    </div> container 
    
  </div>header-top 
  
  <div id="header">
    
    <div class="container">
      <div class="row">
        <div class="col-sm-3">
          
          LOGO 
          <div id="logo">
            <a href="default.aspx">
              <img src="assets/images/logo.png" alt="">
            </a>
          </div> LOGO 
          
        </div> col 
        <div class="col-sm-9">
          
          MENU
          <nav>
          
            <a id="mobile-menu-button" href="#"><i class="mt-icon-menu"></i></a>
                     
            <ul class="menu clearfix sf-js-enabled sf-arrows" id="menu" style="touch-action: pan-y;">
              <li><a href="default.aspx">Home</a></li>
                                <li><a href="about-us.aspx">About us</a></li>
               <li><a href="VATinUAE.aspx">VAT</a></li>
                                <li class="dropdown"><a href="services.aspx" class="sf-with-ul">Services</a>
                                    <ul style="display: none; visibility: visible;">
                  <li><a href="accounting-services.aspx">Accounting</a></li>
                  <li><a href="audit-assurance-services.aspx">Audit &amp; Assurance</a></li>
                                        <li><a href="incorporation-liquidation-services-services.aspx">Incorporation &amp; Liquidation services</a></li>
                                        <li><a href="international-audit-supervision-services.aspx">International Audit &amp; Supervision</a></li>
                                        <li><a href="outsourcing-payroll-services.aspx">Outsourcing &amp; Payroll</a></li>
                                        <li><a href="off-shores-services.aspx">Off Shores</a></li>
                                        <li><a href="corporate-finance-services.aspx">Corporate Finance</a></li>
                                        <li><a href="software-development-services.aspx">Software Development</a></li>
                </ul>
                                </li>
                                <li><a href="affiliations.aspx">Affiliations</a></li>
                                <li class="active"><a href="team.aspx">Our Team</a></li>
                                <li><a href="advisor.aspx">Advisors</a></li>
                                <li><a href="career.aspx">Career</a></li>
              <li class="dropdown"><a href="#" class="sf-with-ul">Contact</a>
                                    <ul style="display: none; visibility: visible;">
                  <li><a href="contact.aspx">Contact Us</a></li>
                                        <li><a href="contact.aspx#offices">Our Offices</a></li>
                                    </ul>
                                </li>
              <li class="search">
                
                <a class="hidden-xs hidden-sm" href="#"><i class="mt-icon-magnifying-glass"></i></a>
                
                <div id="search-form-container">
                    
                  <form id="search-form" action="#">
                    <input id="search" type="search" name="search" placeholder="Enter keywords...">
                    <input id="search-submit" type="submit" value="">
                  </form>
                  
                </div> search-form-container 
              
              </li>
            </ul>
          
          </nav>
        
        </div>col 
      </div> row 
    </div> container
  
  </div><ul class="" id="mobile-menu" style="touch-action: pan-y; display: none;">
              <li><a href="default.aspx">Home</a></li>
                                <li><a href="about-us.aspx">About us</a></li>
               <li><a href="VATinUAE.aspx">VAT</a></li>
                                <li class="dropdown"><a href="services.aspx" class="sf-with-ul">Services</a>
                                    <ul style="display: none; visibility: visible;">
                  <li><a href="accounting-services.aspx">Accounting</a></li>
                  <li><a href="audit-assurance-services.aspx">Audit &amp; Assurance</a></li>
                                        <li><a href="incorporation-liquidation-services-services.aspx">Incorporation &amp; Liquidation services</a></li>
                                        <li><a href="international-audit-supervision-services.aspx">International Audit &amp; Supervision</a></li>
                                        <li><a href="outsourcing-payroll-services.aspx">Outsourcing &amp; Payroll</a></li>
                                        <li><a href="off-shores-services.aspx">Off Shores</a></li>
                                        <li><a href="corporate-finance-services.aspx">Corporate Finance</a></li>
                                        <li><a href="software-development-services.aspx">Software Development</a></li>
                </ul>
                                </li>
                                <li><a href="affiliations.aspx">Affiliations</a></li>
                                <li class="active"><a href="team.aspx">Our Team</a></li>
                                <li><a href="advisor.aspx">Advisors</a></li>
                                <li><a href="career.aspx">Career</a></li>
              <li class="dropdown"><a href="#" class="sf-with-ul">Contact</a>
                                    <ul style="display: none; visibility: visible;">
                  <li><a href="contact.aspx">Contact Us</a></li>
                                        <li><a href="contact.aspx#offices">Our Offices</a></li>
                                    </ul>
                                </li>
             <li class="search">
                
                <a class="hidden-xs hidden-sm" href="#"><i class="mt-icon-magnifying-glass"></i></a>
                
                <div id="search-form-container">
                    
                  <form id="search-form" action="#">
                    <input id="search" type="search" name="search" placeholder="Enter keywords...">
                    <input id="search-submit" type="submit" value="">
                  </form>
                  
                </div> search-form-container 
              
              </li>
            </ul> header 
  
    -->