/* input {
  width: 20em
} */
body { margin: 0; padding: 0; }
.container-fluid {
  padding: 0 !important;
}

.headeradviser
{
 height :310px;
  padding: 60px 60px 60px 60px;
  background-position: 50% 14.7984px;
  text-align: center;
  background-color: #45bbff;
  text-transform: lowercase;
  color: #fff;
  -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  
    font: 14px/24px "Open Sans",Arial,sans-serif italic;
    font-weight: 300;
    font-style: italic;
   
    line-height: 1.42857143;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  
    text-align: center;
    text-transform: lowercase;

}


.headeradviserbottom
{
 height :310px;
  padding: 60px 60px 60px 60px;
  background-position: 50% 14.7984px;
  transition: opacity .25s ease-in-out;
  -moz-transition: opacity .25s ease-in-out;
  -webkit-transition: opacity .25s ease-in-out;
  opacity: 0.5;
   background-image:
  
   url(~src/assets/bg-14.jpg);
  text-align: center;

  position: relative;
    overflow: hidden;
    z-index: 1;

  background-color: white;
  text-transform: lowercase;
  color: #fff;
  -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  
    font: 14px/24px "Open Sans",Arial,sans-serif italic;
    font-weight: 300;
    font-style: italic;
   
    line-height: 1.42857143;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  
    text-align: center;
    text-transform: lowercase;

}

.headeradviser1
{
  margin-bottom: 80px;
 
  padding: 10px 0;
  text-align: center;
  background-color: white;
  
  color: #151f48;
  -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  
    font: 14px/24px "Open Sans",Arial,sans-serif italic;
    font-weight: 300;
    font-style: italic;
   
    line-height: 1.42857143;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  
    text-align: center;
   

}
.textf
{
  position: relative;
  padding: 10px 30px 10px 20px;
  margin-bottom: 20px;
  border: none;
  border-radius: 20px;
  -webkit-transition: all .2s;
  transition: all .2s;
  
  text-transform: uppercase;
  font: 14px/24px "Open Sans",Arial,sans-serif;
  display: inline-block;
  padding: 6px 12px;
  margin-bottom: 0;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 4px;
  color:white;




}

a:hover  {
  line-height: 35px;
  margin-right: 15px;
}
.clearfloat {  
  clear: both;  
}
.alignment
{
  
  text-align: center;
  margin-top: 150px;
  
  
}

.textdecoration
{
  margin-bottom: 0;
  margin-top: 50px;
  margin-left: 70px;
  letter-spacing: .5px;
  color: #45bbff;
  text-transform: uppercase;
  font-size: 14px;
  
    line-height: 24px;
    margin-bottom: 6px;
    font-weight: 50;
    
    font: 14px/24px "Open Sans",Arial,sans-serif;
}
.align
{
  margin-left: 5px;
}
.textwidth
{
  width: 790px;
}
/* .height
{
height: 89px;
/* background-color: #10498a;
border-bottom:   crimson;
border-width: 15px; */

/* padding-top: 25px;
padding-left: 60px; */

/* padding: 20px 0;
    border-bottom: 5px solid #2cacf5;
    background-color: #45bbff;
    color: #fff;


}

.height1
{
  height: 89px; */
  /* background-color: #10498a;
  border-bottom:   crimson;
  border-width: 15px; */
  
  /* padding-top: 25px;
  padding-left: 60px; 
  
  padding: 20px 0;
      border-bottom: 5px solid #2cacf5;
      background-color:  white;
      color:  black;
  
  
  }
.mt-icon-mail2:before {
  content: "\e9b8";
  content: "\e9b9";
}
a {
  margin-right: 10px;
  padding: 10px 10px 47px;
  font-size: 13px;
  line-height: 24px;
  letter-spacing: .75px;
  color: #151f48;
  text-transform: uppercase;
    font-weight: 700;
    color: #4e515d;
    -webkit-transition: background-color .3s,color .3s;
    transition: background-color .3s,color .3s;
    background-color: transparent;
    cursor: pointer;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
} */