
  <div class="container-fluid">
   
    <div class=" headeradviser">
      <h4><strong>about us</strong> who we are?</h4>
      <div class="p-grid vertical-container  ">
        <div class="p-col-12 ">
          <a class="btn btn-default textf" target="_blank"  href="downloads/AAA-Profile.pdf">Company Profile</a>
          <a class="btn btn-default textf" target="_blank" href="downloads/LicenseAAA.pdf">DUBAI TRADE LICENSE</a>
          <a class="btn btn-default textf" target="_blank" href="downloads/AAASAIFZoneLicense.pdf">SHARJAH TRADE LICENSE</a>
          <a class="btn btn-default textf" target="_blank" href="downloads/AAA-DMCC.pdf">DMCC TRADE LICENSE</a>
        </div>
        <div class="p-col-12 " >
          <a class="btn btn-default textf"  style="margin-left: 370px;"  target="_blank" href="downloads/LEATaxConsultantLicense.pdf">LEA Tax Consultant TRADE LICENSE</a>
          <a class="btn btn-default textf" target="_blank" href="downloads/LEAsoftwareConsultantLicense.pdf">LEA Software Consultants TRADE LICENSE</a>
        </div>  
      </div>
    </div>

  <!-- new div -->
  <div class="p-grid vertical-container  ">
    <div class="p-col-4 alignment">
      <img src="assets/Shafiq-UR-Rehman.jpg" style="width: 210px; height: 210px;">    
    </div>
    <div class="p-col-8 " > 
      <div class="textdecoration" > 
        <strong>  JUST A FEW WORDS </strong> 
      </div>
    <h2>
      <strong>About Our Company</strong>
    </h2>  
    <p class="textwidth">
      The firm was established in April 2014 by a team of experienced Chartered Accountants already in public practice. The firm consists of dedicated professionals who have the ability to provide industry-focused services in order to enhance value through the application of what we call "BEYOND THE NUMBERS". Our understanding of your industry and your individual circumstances allows us to contribute far more than accountancy advice. Our Audit specialists can provide an efficient and independent report to your shareholders about the company profitability and state of affairs. We go further to provide insight into the areas to focus to enhance the performance of your business.

"We find AAA to be reliable. They know a lot about our business, they don't play with technical jargons, we like them and they deliver."

Auditors and Business Consultants in the UAE. What sets us apart is the way we invest in our relationships. We develop a deep understanding of your business and personal circumstances. This allows us to advise you more effectively.
    </p>
  </div>
</div>

<!-- 
  new div -->



  
  <div class="p-grid vertical-container  " style="background-color: #f2f8fb;">
    
    <!-- <div class="p-col-10  "  style="text-align: center;" >  -->
      <div class="p-col-fixed" style="width:700px; margin-left: 90px;">
    <h1>
      <strong style=" color: #45bbff;">LEA (Leading Edge Alliance)</strong>
    </h1>  
    <p >
      Ahmad Alagbari is a member of LEA Founded in 1999, LEA Global is the second largest international association in the world, creating a high- quality alliance of more than 190 firms focused on accounting, financial and business advisory services. LEA Global firms operate from more than 450 offices in over 100 countries, giving clients of LEA Global firms access to the knowledge, skills and experience of more than 2,175 partners and 25,459 staff members. read more

      Based in Dubai, we have strength and depth in the major disciplines, and some of the more specialist ones too - from business start-up through to preparation for sale and post-sale wealth management.
      
      But what makes us stand out is our business understanding, our commercial insight and our ability to get the job done in good time.    </p>
  </div>
  <div class="p-col-fixed " style="margin-top :39px;margin-left: 40px;">
    <img src="assets/Shafiq-UR-Rehman.jpg" style="width: 260px; height: 210px; ">    
  </div>
</div>


<!-- 
  new div -->

  <div class="p-grid vertical-container  "  style="background-color: #f2f8fb;">
    
    <!-- <div class="p-col-6  " >  -->
      <div class="p-col-fixed" style="width:480px; margin-left: 90px; background-color: #f2f8fb;">
    <h4>
      <strong>Privately Owned Business Credentials</strong>
    </h4>  
    <p>
      We are probably best known for our rounded approach to advice. We seek to understand your personal ambitions, your business, and the environment in which you compete. We believe this integrated approach provides our clients with a better service.  </div>
  <!-- <div class="p-col-6 " style="margin-top :39px">-->
    <div class="p-col-fixed" style="width:460px; margin-left: 95px; background-color: #f2f8fb;"> 
  
    <h4>
      <strong>Corporate Business Team</strong>
    </h4>  
    <p>
      Our corporate tax and audit teams attract mid-sized and large corporate that demand first-rate technical expertise, the highest standard of client care and value for money.

</p>
 
  </div>
</div>


   <!-- new div -->

   <div class="p-grid vertical-container  ">
    <div class="p-col-fixed" style="width:350px;  margin-left: 90px; ">
    <!-- <div class="p-col-3  " >  -->
      
    <h4>
      <strong>Respect</strong>
    </h4>  
    <p>
      We support and respect each other and help each other to achieve our full potential. Dedicated to provide excellence in service with high professional caliber.
    <br>  
    <h4>
      <strong>Integrity</strong>
    </h4>  
    <p>
      Our ethos is based on being open and straightforward.
      We only give advice we believe in.
  </p>
      <br>  
      <h4>
        <strong>Empathy</strong>
      </h4>  
      <p>
        We know our clients and relate to their unique personal circumstances.
      </p>
  
      
      
    </div>
  
    <!-- <div class="p-col-1  " >  -->
      <div class="p-col-fixed" style="width:90px;  margin-left: 10px; ">
      <img src="assets/Shafiq-UR-Rehman.jpg" style="width: 70px; height: 70px; margin-top: 10px;">
      <img src="assets/Shafiq-UR-Rehman.jpg" style="width: 70px; height: 70px; margin-top: 75px;">
      <img src="assets/Shafiq-UR-Rehman.jpg" style="width: 70px; height: 70px;  margin-top: 85px;">
         
    </div>
    

    <div class="p-col-fixed" style="width:290px;  margin-left: 20px; margin-top: 80px; ">
    <!-- <div class="p-col-4  " >  -->
      <img src="assets/Shafiq-UR-Rehman.jpg" style="width: 270px; height: 270px;">
         
    </div>
    
    <div class="p-col-1  " > 
      <img src="assets/Shafiq-UR-Rehman.jpg" style="width: 70px; height: 70px; margin-top: 55px;">
      <img src="assets/Shafiq-UR-Rehman.jpg" style="width: 70px; height: 70px;margin-top: 100px;">
      <img src="assets/Shafiq-UR-Rehman.jpg" style="width: 70px; height: 70px; margin-top: 55px;">
         
    </div>
    

      <div class="p-col-3 " style="margin-top :39px">
    <h4>
      <strong>Confidentiality</strong>
    </h4>  
    <p>
      While serving, we maintain strict confidentiality on the information obtained from the clients, unless there arises a legal liability or duty to disclose.
</p>
 <br>
 <h4>
  <strong>Vision</strong>
</h4>  
<p>
  We seek insight and understanding of our client's businesses and use our expertise to find innovative solutions for them.
</p>

<h4>
  <strong>Delivery</strong>
</h4>  
<p>
  When we promise to get Something done, it gets done.
</p>


</div>
</div>


   <!-- new div -->

<!-- 
    new div -->

    <div class="headeradviserbottom">
     
      
      
      <h4><strong> Ahmad Alagbari Chartered Accountants</strong> 
        is situated in Dubai, the dynamic hub of global business in UAE. The office is resourced and equipped in accord to the current generation's business needs. It includes the updated and current generation computers, well learned team and an excellent work environment, that equates the requisites of a professional firm offering audit and accounting services.
     
      
      </h4>





      <div class="p-grid vertical-container  ">
        <div class="p-col-12 ">
          <a class="btn btn-default textf" target="_blank"  href="downloads/AAA-Profile.pdf">Company Profile</a>
          <a class="btn btn-default textf" target="_blank" href="downloads/LicenseAAA.pdf">DUBAI TRADE LICENSE</a>
          <a class="btn btn-default textf" target="_blank" href="downloads/AAASAIFZoneLicense.pdf">SHARJAH TRADE LICENSE</a>
          <a class="btn btn-default textf" target="_blank" href="downloads/AAA-DMCC.pdf">DMCC TRADE LICENSE</a>
        </div>
        <div class="p-col-12 " >
          <a class="btn btn-default textf"  style="margin-left: 370px;"  target="_blank" href="downloads/LEATaxConsultantLicense.pdf">LEA Tax Consultant TRADE LICENSE</a>
          <a class="btn btn-default textf" target="_blank" href="downloads/LEAsoftwareConsultantLicense.pdf">LEA Software Consultants TRADE LICENSE</a>
        </div>  
      </div>
    </div>


<!-- 
     new div  -->

