<div class="headeradviser"></div>

<i class="pi pi-ellipsis-h headeradviser12"></i>
<div class="headeradviser1">
  this is dropdown data

  <p-dropdown [options]="content" [(ngModel)]="content1"></p-dropdown>
</div>

<!-- new div -->

<div class="p-grid ui-helper-clearfix">
  <div class="p-col-fixed align" style="width: 590px;">
    <div class="left">
      <img
        src="assets/Shafiq-UR-Rehman.jpg"
        style="width: 270px; height: 270px;"
      />
    </div>

    <p>Shafiq UR Rehman</p>
    <p>FCPA, FCCEA, MBA</p>
    <p>Advisor</p>
    <p>
      He is fellow member of Institute of Certified Public Accountant of United
      Kingdom and Pakistan and Fellow member of Certified Corporate Executive
      Accountant (USA), Associate of Financial Accountant (UK), Certificate in
      IFRS(ACCA), IPA (Australia), Member of IFA, Certificate in USA Federal
      Taxation(Devry University) and holds Master Degree in Business and
      Administration. He has over 20 years diversified experience in
      UAE/Pakistan in financial accounting & financialmanagement, internal &
      external Auditing. He has worked as Financial Advisor of Hamdan Bin
      Mohammad Heritage Centre in Dubai-UAE
    </p>
  </div>

  <div class="vl"></div>
  <div class="p-col-fixed align" style="width: 590px;">
    <div class="right">
      <img
        src="assets/Shafiq-UR-Rehman.jpg"
        style="width: 270px; height: 270px;"
      />
    </div>

    <p>Shafiq UR Rehman</p>
    <p>FCPA, FCCEA, MBA</p>
    <p>Advisor</p>
    <p>
      He is fellow member of Institute of Certified Public Accountant of United
      Kingdom and Pakistan and Fellow member of Certified Corporate Executive
      Accountant (USA), Associate of Financial Accountant (UK), Certificate in
      IFRS(ACCA), IPA (Australia), Member of IFA, Certificate in USA Federal
      Taxation(Devry University) and holds Master Degree in Business and
      Administration. He has over 20 years diversified experience in
      UAE/Pakistan in financial accounting & financialmanagement, internal &
      external Auditing. He has worked as Financial Advisor of Hamdan Bin
      Mohammad Heritage Centre in Dubai-UAE
    </p>
  </div>
</div>
<div class="hl"></div>
<!--   end   div /// -->
<!-- new div -->

<div class="p-grid ui-helper-clearfix">
  <div class="p-col-fixed align" style="width: 590px;">
    <div class="left">
      <img
        src="assets/Shafiq-UR-Rehman.jpg"
        style="width: 270px; height: 270px;"
      />
    </div>

    <p>Shafiq UR Rehman</p>
    <p>FCPA, FCCEA, MBA</p>
    <p>Advisor</p>
    <p>
      He is fellow member of Institute of Certified Public Accountant of United
      Kingdom and Pakistan and Fellow member of Certified Corporate Executive
      Accountant (USA), Associate of Financial Accountant (UK), Certificate in
      IFRS(ACCA), IPA (Australia), Member of IFA, Certificate in USA Federal
      Taxation(Devry University) and holds Master Degree in Business and
      Administration. He has over 20 years diversified experience in
      UAE/Pakistan in financial accounting & financialmanagement, internal &
      external Auditing. He has worked as Financial Advisor of Hamdan Bin
      Mohammad Heritage Centre in Dubai-UAE
    </p>
  </div>

  <div class="vl"></div>
  <div class="p-col-fixed align" style="width: 590px;">
    <div class="right">
      <img
        src="assets/Shafiq-UR-Rehman.jpg"
        style="width: 270px; height: 270px;"
      />
    </div>

    <p>Shafiq UR Rehman</p>
    <p>FCPA, FCCEA, MBA</p>
    <p>Advisor</p>
    <p>
      He is fellow member of Institute of Certified Public Accountant of United
      Kingdom and Pakistan and Fellow member of Certified Corporate Executive
      Accountant (USA), Associate of Financial Accountant (UK), Certificate in
      IFRS(ACCA), IPA (Australia), Member of IFA, Certificate in USA Federal
      Taxation(Devry University) and holds Master Degree in Business and
      Administration. He has over 20 years diversified experience in
      UAE/Pakistan in financial accounting & financialmanagement, internal &
      external Auditing. He has worked as Financial Advisor of Hamdan Bin
      Mohammad Heritage Centre in Dubai-UAE
    </p>
  </div>
</div>
<div class="hl"></div>
<!--   end   div /// -->
<!-- new div -->

<div class="p-grid ui-helper-clearfix">
  <div class="p-col-fixed align" style="width: 590px;">
    <div class="left">
      <img
        src="assets/Shafiq-UR-Rehman.jpg"
        style="width: 270px; height: 270px;"
      />
    </div>

    <p>Shafiq UR Rehman</p>
    <p>FCPA, FCCEA, MBA</p>
    <p>Advisor</p>
    <p>
      He is fellow member of Institute of Certified Public Accountant of United
      Kingdom and Pakistan and Fellow member of Certified Corporate Executive
      Accountant (USA), Associate of Financial Accountant (UK), Certificate in
      IFRS(ACCA), IPA (Australia), Member of IFA, Certificate in USA Federal
      Taxation(Devry University) and holds Master Degree in Business and
      Administration. He has over 20 years diversified experience in
      UAE/Pakistan in financial accounting & financialmanagement, internal &
      external Auditing. He has worked as Financial Advisor of Hamdan Bin
      Mohammad Heritage Centre in Dubai-UAE
    </p>
  </div>

  <div class="vl"></div>
  <div class="p-col-fixed align" style="width: 590px;">
    <div class="right">
      <img
        src="assets/Shafiq-UR-Rehman.jpg"
        style="width: 270px; height: 270px;"
      />
    </div>

    <p>Shafiq UR Rehman</p>
    <p>FCPA, FCCEA, MBA</p>
    <p>Advisor</p>
    <p>
      He is fellow member of Institute of Certified Public Accountant of United
      Kingdom and Pakistan and Fellow member of Certified Corporate Executive
      Accountant (USA), Associate of Financial Accountant (UK), Certificate in
      IFRS(ACCA), IPA (Australia), Member of IFA, Certificate in USA Federal
      Taxation(Devry University) and holds Master Degree in Business and
      Administration. He has over 20 years diversified experience in
      UAE/Pakistan in financial accounting & financialmanagement, internal &
      external Auditing. He has worked as Financial Advisor of Hamdan Bin
      Mohammad Heritage Centre in Dubai-UAE
    </p>
  </div>
</div>
<div class="hl"></div>
<!--   end   div /// -->
<!-- new div -->

<div class="p-grid ui-helper-clearfix">
  <div class="p-col-fixed align" style="width: 590px;">
    <div class="left">
      <img
        src="assets/Shafiq-UR-Rehman.jpg"
        style="width: 270px; height: 270px;"
      />
    </div>

    <p>Shafiq UR Rehman</p>
    <p>FCPA, FCCEA, MBA</p>
    <p>Advisor</p>
    <p>
      He is fellow member of Institute of Certified Public Accountant of United
      Kingdom and Pakistan and Fellow member of Certified Corporate Executive
      Accountant (USA), Associate of Financial Accountant (UK), Certificate in
      IFRS(ACCA), IPA (Australia), Member of IFA, Certificate in USA Federal
      Taxation(Devry University) and holds Master Degree in Business and
      Administration. He has over 20 years diversified experience in
      UAE/Pakistan in financial accounting & financialmanagement, internal &
      external Auditing. He has worked as Financial Advisor of Hamdan Bin
      Mohammad Heritage Centre in Dubai-UAE
    </p>
  </div>

  <div class="vl"></div>
  <div class="p-col-fixed align" style="width: 590px;">
    <div class="right">
      <img
        src="assets/Shafiq-UR-Rehman.jpg"
        style="width: 270px; height: 270px;"
      />
    </div>

    <p>Shafiq UR Rehman</p>
    <p>FCPA, FCCEA, MBA</p>
    <p>Advisor</p>
    <p>
      He is fellow member of Institute of Certified Public Accountant of United
      Kingdom and Pakistan and Fellow member of Certified Corporate Executive
      Accountant (USA), Associate of Financial Accountant (UK), Certificate in
      IFRS(ACCA), IPA (Australia), Member of IFA, Certificate in USA Federal
      Taxation(Devry University) and holds Master Degree in Business and
      Administration. He has over 20 years diversified experience in
      UAE/Pakistan in financial accounting & financialmanagement, internal &
      external Auditing. He has worked as Financial Advisor of Hamdan Bin
      Mohammad Heritage Centre in Dubai-UAE
    </p>
  </div>
</div>
<div class="hl"></div>
<!--   end   div /// -->
<!-- new div -->

<div class="p-grid ui-helper-clearfix">
  <div class="p-col-fixed align" style="width: 590px;">
    <div class="left">
      <img
        src="assets/Shafiq-UR-Rehman.jpg"
        style="width: 270px; height: 270px;"
      />
    </div>

    <span>Shafiq UR Rehman</span><br />
    <span>FCPA, FCCEA, MBA</span>
    <p>Advisor</p>
    <p>
      He is fellow member of Institute of Certified Public Accountant of United
      Kingdom and Pakistan and Fellow member of Certified Corporate Executive
      Accountant (USA), Associate of Financial Accountant (UK), Certificate in
      IFRS(ACCA), IPA (Australia), Member of IFA, Certificate in USA Federal
      Taxation(Devry University) and holds Master Degree in Business and
      Administration. He has over 20 years diversified experience in
      UAE/Pakistan in financial accounting & financialmanagement, internal &
      external Auditing. He has worked as Financial Advisor of Hamdan Bin
      Mohammad Heritage Centre in Dubai-UAE
    </p>
  </div>

  <div class="vl"></div>
</div>
<div class="hl"></div>
<!--   end   div /// -->
