
  <div class="container-fluid">
   
   
    <p-galleria [images]="images"   [showCaption]="true" class="pi  pi-chevron-right"></p-galleria>



  <!-- new div -->
 

<!-- 
  new div -->

  <div class="p-grid vertical-container  alignment">
    
    <div class="p-col-1" > 
      <img src="assets/Shafiq-UR-Rehman.jpg"   style="width: 70px; height: 70px;
       border-top-left-radius: 50% 50%;
      border-top-right-radius: 50% 50%;
      border-bottom-right-radius: 50% 50%;
      border-bottom-left-radius: 50% 50%;">    
    </div>
    <div class="p-col-2  " > 
  <h2> Vision </h2>      
 <p>  We seek insight and understanding of our clients’ businesses and use our expertise to find innovative solutions for them.
 </p>    
</div>
    <div class="p-col-1  "  style="margin-left: 25px;"> 
      
    
      <img src="assets/Shafiq-UR-Rehman.jpg"  style="width: 70px; height: 70px; border-radius: 50%;" >    
    </div>
    <div class="p-col-2  " > 
      <h2> Respect </h2>      
      <p>  We support and respect each other and help each other to achieve our full potential.    </p>
    </div>
    <div class="p-col-1  " > 
      <img src="assets/Shafiq-UR-Rehman.jpg" style="width: 70px; height: 70px;">    
    </div>
    <div class="p-col-2  " > 
      <h2> Integrity </h2>      
      <p> Our ethos is based on being open and straightforward. We only give advice we believe in.  </p>
    </div>
  </div>

     <!-- new div -->

     <div class="p-grid vertical-container default2 ">
    
      <div class="p-col  "  > 
          
        <h2> "Our ethos is based on being open and straightforward. We only <br>give advice we believe in."  </h2>
  
      </div>
    </div>


<!-- 
        div  new  -->



        <div class="p-grid vertical-container  ">
    
          <div class="p-col-4 "  > 
            <img src="assets/Shafiq-UR-Rehman.jpg" style="width: 220px; height: 220px;
            margin-left: 120px; margin-top: 120px;">
          </div>
        
          <div class="p-col-8 "  > 
            <h4  style="margin-left: 130px; margin-top: 30px; letter-spacing: .5px;
            color: #45bbff;     font-size: 14px;
    line-height: 24px; font-weight: 700;
    margin-bottom: 6px;
            "> OUR CONCEPTS </h4>
            <h4  style="margin-left: 130px; margin-top: 30px; letter-spacing: .5px;
            color: #151f48;     font-size: 28px;
    line-height: 24px; font-weight: 700;
    margin-bottom: 6px;
            ">Leading Edge Alliance </h4>
           <br>
            
            <p  style="letter-spacing: .5px; width: 830PX;
               
    line-height: 24px;
   
            "> Ahmad Alagbari is a member of LEA Founded in 1999, LEA Global is the second largest international association in the world, creating a high- quality alliance of more than 190 firms focused on accounting, financial and business advisory services. LEA Global firms operate from more than 450 offices in over 100 countries, giving clients of LEA Global firms access to the knowledge, skills and experience of more than 2,175 partners and 25,459 staff members. read more
        
              Based in Dubai, we have strength and depth in the major disciplines, and some of the more specialist ones too – from business start-up through to preparation for sale and post-sale wealth management.
              
              But what makes us stand out is our business understanding, our commercial insight and our ability to get the job done in good time.  </p>
        
            <div class="p-grid vertical-container  ">
              <div class="p-col-6 "  > 
                
                <h4  style=" letter-spacing: .5px;
                color: #151f48;     font-size: 20px;
        line-height: 24px; font-weight: 700;
        margin-bottom: 6px;
                ">Privately Owned Business Credentials</h4>
                
                
                <br>
            
                <p style="letter-spacing: .5px; width: 380PX;
               
                line-height: 24px;
               
                        ">     We are probably best known for our rounded approach to advice. We seek to understand your personal ambitions, your business, and the environment in which you compete. We believe this integrated approach provides our clients with a better service.
            
                </p>
            
              
              </div>
              <div class="p-col-6 "  > 
                <h4  style=" letter-spacing: .5px;
                color: #151f48;     font-size: 20px;
        line-height: 24px; font-weight: 700;
        margin-bottom: 6px;
                ">Corporate Business Team</h4>
                 <br>
            
                <p style="letter-spacing: .5px; width: 380PX;
               
                line-height: 24px;
               
                        ">       Our corporate tax and audit teams attract mid-sized and large corporate that demand first-rate technical expertise, the highest standard of client care and value for money.
            
                </p>
            
              </div>
                 
        
        
            </div>
        
          </div>
        
        
        </div>
        
        
         <!-- new div -->


        <div class="p-grid vertical-container office  ">
    
          <div class="p-col-12 "  > 
            <h3>  WHAT WE DO? </h3>
            <h1>Our Services </h1>
          </div>
         
    
            <div class="p-col-3 "  > 
              <h3> Accounting</h3>
              <p>Our comprehensive range of accounting services will help you comply with all the relevant reporting regulations. As well as full statutory year-end financial statements,...</p>
            </div>

            <div class="p-col-3 "  > 
              <h3>  Audit & Assurance </h3>
              <p>Our audit specialists can provide an efficient and independent report to your shareholders about the company’s profitability and state of affairs. A good audit should also provide</p>
        
            </div>
            <div class="p-col-3 "  > 
              <h3> International Audit & Supervision </h3>
              <p>AAA is a member of Global Accounting and business Advisors Alliance - GAABA, an international alliance of independent accounting firms.</p>
        
            </div>
            <div class="p-col-3 "  > 
              <h3> Incorporation & Liquidation Services </h3>
              <p>* UAE Free zones * Dubai Economic Department * Offshore Companies</p>
        
            </div>
            <div class="p-col-3 "  > 
              <h3> Outsourcing & Payroll</h3>
              <p>If you are considering outsourcing your financial administration, we are well placed to assess your needs and provide the solution. We deliver consistent service quality</p>
            </div>

            <div class="p-col-3 "  > 
              <h3>  Off Shores </h3>
              <p>We offer a wide-range of specialist offshore services that can help you to protect your assets, and minimise your tax liabilities through offshore structures, including trusts and companies.</p>
        
            </div>
            <div class="p-col-3 "  > 
              <h3> Corporate Finance </h3>
              <p>We offer our expertise to provide optimal capital structure at least cost of capital to the organization. We facilitate to cater to the borrowing needs of the organization by leveraging our strong relationship...</p>
        
            </div>
            <div class="p-col-3 "  > 
              <h3> Software Development</h3>
              <p>We provide specialist IT advice and support at all key stages of the business cycle, from the initial requirement to development and implementation of complex ERP Systems.</p>
        
            </div>


        </div>
        
        
        <!-- 
           new div -->

           <div class="p-grid vertical-container  ">
    
            <div class="p-col-12 "  > 
             
              <h4  style="margin-left: 530px; margin-top: 30px; letter-spacing: .5px;
            color: #45bbff;     font-size: 14px;
    line-height: 24px; font-weight: 700;
    margin-bottom: 6px;
            "> QUALITY GUARANTEED</h4>
            <h4  style="margin-left: 480px; margin-top: 10px;  margin-bottom: 60px; letter-spacing: .5px;
            color: #151f48;     font-size: 28px;
    line-height: 24px; font-weight: 700;
    margin-bottom: 6px;
            ">Why choose our Services</h4>

             
            </div>
           
          </div>

           <!-- 
           new div -->
           <div class="p-grid vertical-container hl  ">
    
            <div class="p-col-fixed  "  style="  width :95px;margin-left: 90px;  text-align: center;" > 
              <img src="assets/Shafiq-UR-Rehman.jpg" style="width: 90px; height: 90px;">
            </div>
            <div class="p-col-fixed  "  style=" width :410px;margin-left: 20px;text-align: center;"  > 
             
              <p class="my-text-style">   Valuation & Business Restructuring </p>
              <p style="width:330px;"> We offer a complete range of business valuation, mergers and acquisition service. </p>
           
              <ul class="check-list">
                <li>Identifying profit maximization divisions</li>
                <li> Pointing out loss making areas</li>
              </ul>

            </div>
            <div class="vl"></div>

            <div class="p-col-fixed "  style=" width :95px;margin-left: 130px;  text-align: center;" > 
              <img src="assets/Shafiq-UR-Rehman.jpg" style="width: 90px; height: 90px;">
            </div>
            <div class="p-col-fixed  "  style=" width :410px;margin-left: 20px;text-align: center;"  > 
             
              <p>   Valuation & Business Restructuring </p>
              <p > We offer a complete range of business valuation, mergers and acquisition service. </p>
           
              <ul class="check-list">
                <li>Identifying profit maximization divisions</li>
                <li> Pointing out loss making areas saqib</li>
              </ul>

            </div>
            <div  class="hl"   > </div>
            <div class="p-col-fixed "  style="border-left: yellow;  width :95px;margin-left: 90px;  text-align: center;" > 
              <img src="assets/Shafiq-UR-Rehman.jpg" style="width: 90px; height: 90px;">
            </div>
            <div class="p-col-fixed "  style=" width :410px;margin-left: 20px;text-align: center;"  > 
             
              <p>   Valuation & Business Restructuring </p>
              <p > We offer a complete range of business valuation, mergers and acquisition service. </p>
           
              <ul class="check-list">
                <li>Identifying profit maximization divisions</li>
                <li> Pointing out loss making areas</li>
              </ul>

            </div>
            <div class="vl"></div>
            <div class="p-col-fixed "  style=" width :95px;margin-left: 130px;  text-align: center;" > 
              <img src="assets/Shafiq-UR-Rehman.jpg" style="width: 90px; height: 90px;">
            </div>
            <div class="p-col-fixed "  style=" width :410px;margin-left: 20px;text-align: center;"  > 
             
              <p>   Valuation & Business Restructuring </p>
              <p > We offer a complete range of business valuation, mergers and acquisition service. </p>
           
              <ul class="check-list">
                <li>Identifying profit maximization divisions</li>
                <li> Pointing out loss making areas</li>
              </ul>

            </div>

          </div>

           <!-- 
           new div -->
           <div class="p-grid  ">
          
            <div class="p-col-fixed "  style=" width: 290px;  margin-left: 590px;margin-top: 100px;  height: 200px;  color: tomato;" > 
              <a class="allservcies textf"     href="downloads/AAA-Profile.pdf">  Our All Services </a>
                
            </div>
          </div>
<!-- 
  new div -->



  <div class="p-grid vertical-container  ">
    
    <div class="p-col-9  " > 
      
    <h1>
      <strong>LEA (Leading Edge Alliance)</strong>
    </h1>  
    <p>
      Ahmad Alagbari is a member of LEA Founded in 1999, LEA Global is the second largest international association in the world, creating a high- quality alliance of more than 190 firms focused on accounting, financial and business advisory services. LEA Global firms operate from more than 450 offices in over 100 countries, giving clients of LEA Global firms access to the knowledge, skills and experience of more than 2,175 partners and 25,459 staff members. read more

      Based in Dubai, we have strength and depth in the major disciplines, and some of the more specialist ones too - from business start-up through to preparation for sale and post-sale wealth management.
      
      But what makes us stand out is our business understanding, our commercial insight and our ability to get the job done in good time.    </p>
  </div>
  <div class="p-col-3 " style="margin-top :39px">
    <img src="assets/Shafiq-UR-Rehman.jpg" style="width: 210px; height: 210px;">    
  </div>
</div>


<!-- 
  new div -->

  <div class="p-grid vertical-container  ">
    
    <div class="p-col-6  " > 
      
    <h4>
      <strong>Privately Owned Business Credentials</strong>
    </h4>  
    <p>
      We are probably best known for our rounded approach to advice. We seek to understand your personal ambitions, your business, and the environment in which you compete. We believe this integrated approach provides our clients with a better service.  </div>
  <div class="p-col-6 " style="margin-top :39px">
    <h4>
      <strong>Corporate Business Team</strong>
    </h4>  
    <p>
      Our corporate tax and audit teams attract mid-sized and large corporate that demand first-rate technical expertise, the highest standard of client care and value for money.

</p>
 
  </div>
</div>


   <!-- new div -->

   <div class="p-grid vertical-container  ">
    
    <div class="p-col-3  " > 
      
    <h4>
      <strong>Respect</strong>
    </h4>  
    <p>
      We support and respect each other and help each other to achieve our full potential. Dedicated to provide excellence in service with high professional caliber.
    <br>  
    <h4>
      <strong>Integrity</strong>
    </h4>  
    <p>
      Our ethos is based on being open and straightforward.
      We only give advice we believe in.
  </p>
      <br>  
      <h4>
        <strong>Empathy</strong>
      </h4>  
      <p>
        We know our clients and relate to their unique personal circumstances.
      </p>
  
      
      
    </div>
  
    <div class="p-col-1  " > 
      <img src="assets/Shafiq-UR-Rehman.jpg" style="width: 70px; height: 70px;">
      <img src="assets/Shafiq-UR-Rehman.jpg" style="width: 70px; height: 70px;">
      <img src="assets/Shafiq-UR-Rehman.jpg" style="width: 70px; height: 70px;">
         
    </div>
    


    <div class="p-col-4  " > 
      <img src="assets/Shafiq-UR-Rehman.jpg" style="width: 270px; height: 270px;">
         
    </div>
    
    <div class="p-col-1  " > 
      <img src="assets/Shafiq-UR-Rehman.jpg" style="width: 70px; height: 70px; margin-top: 30px;">
      <img src="assets/Shafiq-UR-Rehman.jpg" style="width: 70px; height: 70px;margin-top: 120px;">
      <img src="assets/Shafiq-UR-Rehman.jpg" style="width: 70px; height: 70px; margin-top: 20px;">
         
    </div>
    

      <div class="p-col-3 " style="margin-top :39px">
    <h4>
      <strong>Confidentiality</strong>
    </h4>  
    <p>
      While serving, we maintain strict confidentiality on the information obtained from the clients, unless there arises a legal liability or duty to disclose.
</p>
 <br>
 <h4>
  <strong>Vision</strong>
</h4>  
<p>
  We seek insight and understanding of our client's businesses and use our expertise to find innovative solutions for them.
</p>

<h4>
  <strong>Delivery</strong>
</h4>  
<p>
  When we promise to get Something done, it gets done.
</p>


</div>
</div>


   <!-- new div -->

<!-- 
    new div -->

    <div class="headeradviserbottom">
     
      
      
      <h4><strong> Ahmad Alagbari Chartered Accountants</strong> 
        is situated in Dubai, the dynamic hub of global business in UAE. The office is resourced and equipped in accord to the current generation's business needs. It includes the updated and current generation computers, well learned team and an excellent work environment, that equates the requisites of a professional firm offering audit and accounting services.
     
      
      </h4>





      <div class="p-grid vertical-container  ">
        <div class="p-col-12 ">
          <a class="btn btn-default textf" target="_blank"  href="downloads/AAA-Profile.pdf">Company Profile</a>
          <a class="btn btn-default textf" target="_blank" href="downloads/LicenseAAA.pdf">DUBAI TRADE LICENSE</a>
          <a class="btn btn-default textf" target="_blank" href="downloads/AAASAIFZoneLicense.pdf">SHARJAH TRADE LICENSE</a>
          <a class="btn btn-default textf" target="_blank" href="downloads/AAA-DMCC.pdf">DMCC TRADE LICENSE</a>
        </div>
        <div class="p-col-12 " >
          <a class="btn btn-default textf"  style="margin-left: 370px;"  target="_blank" href="downloads/LEATaxConsultantLicense.pdf">LEA Tax Consultant TRADE LICENSE</a>
          <a class="btn btn-default textf" target="_blank" href="downloads/LEAsoftwareConsultantLicense.pdf">LEA Software Consultants TRADE LICENSE</a>
        </div>  
      </div>
    </div>


<!-- 
     new div  -->

