
  <div class="container-fluid">
   
    <div class=" headeradviser">
      <h4>
      <strong>advisors</strong>
    </h4>
      
    </div>
    <div class=" headeradviser1">
      <h4>
      <strong>Our Advisers</strong>
    </h4>
      
    </div>

    <div >
<p class=" textf">
    Our client relationship partners take responsibility for understanding your needs, bringing the right specialists together to meet them and ensuring you receive a consistently high quality 
<br>
    of service.

    <p>
  </div>



  
  <div class="p-grid p-align-start vertical-container align">
    <div class="p-col clearfloat">
     
      <div class="row clearfloat">

        <div class="col-6 clearfloat">
          <img src="assets/Shafiq-UR-Rehman.jpg" style="width: 270px; height: 270px;">
          
        </div>
        <div class="col-6 clearfloat">
          <p>Shafiq UR Rehman</p>
          <p>FCPA, FCCEA, MBA</p>
          <p>Advisor</p> 
          

<p>

  He is fellow member of Institute of Certified Public Accountant of United Kingdom and Pakistan and Fellow member of Certified Corporate Executive Accountant (USA), Associate of Financial
</p>
  <p class="clearfloat">Accountant (UK), Certificate in IFRS(ACCA), IPA (Australia), Member of IFA, Certificate in USA Federal Taxation(Devry University) and holds Master Degree in Business and Administration.

    He has over 20 years diversified experience in UAE/Pakistan in financial accounting & financialmanagement, internal & external Auditing. He has worked as Financial Advisor of Hamdan Bin Mohammad Heritage Centre in Dubai-UAE
    
    
  </p>  


        </div>
      </div>

        <!-- <div >

          <img src="assets/Shafiq-UR-Rehman.jpg" style="width: 270px; height: 270px;">
          <p>Shafiq UR Rehman</p>

        </div> -->
        

        <!-- /// -->
    </div>
    <div class="p-col">
      <div class="row clearfloat">

       
        <div class="col-6 clearfloat">
          <p>Shafiq UR Rehman</p>
          <p>FCPA, FCCEA, MBA</p>
          <p>Advisor</p> 
          

<p>

  He is fellow member of Institute of Certified Public Accountant of United Kingdom and Pakistan and Fellow member of Certified Corporate Executive Accountant (USA), Associate of Financial
</p>
  <p class="clearfloat">Accountant (UK), Certificate in IFRS(ACCA), IPA (Australia), Member of IFA, Certificate in USA Federal Taxation(Devry University) and holds Master Degree in Business and Administration.

    He has over 20 years diversified experience in UAE/Pakistan in financial accounting & financialmanagement, internal & external Auditing. He has worked as Financial Advisor of Hamdan Bin Mohammad Heritage Centre in Dubai-UAE
    
    
  </p>  


        </div>
    
        <div class="col-6 clearfloat">
          <img src="assets/Shafiq-UR-Rehman.jpg" style="width: 270px; height: 270px;">
          
        </div>
    
    
      </div>
   
</div>




<div class="p-grid p-align-start vertical-container align">
  <div class="p-col clearfloat">
   
    <div class="row clearfloat">

      <div class="col-6 clearfloat">
        <img src="assets/Shafiq-UR-Rehman.jpg" style="width: 270px; height: 270px;">
        
      </div>
      <div class="col-6 clearfloat">
        <p>Shafiq UR Rehman</p>
        <p>FCPA, FCCEA, MBA</p>
        <p>Advisor</p> 
        

<p>

He is fellow member of Institute of Certified Public Accountant of United Kingdom and Pakistan and Fellow member of Certified Corporate Executive Accountant (USA), Associate of Financial
</p>
<p class="clearfloat">Accountant (UK), Certificate in IFRS(ACCA), IPA (Australia), Member of IFA, Certificate in USA Federal Taxation(Devry University) and holds Master Degree in Business and Administration.

  He has over 20 years diversified experience in UAE/Pakistan in financial accounting & financialmanagement, internal & external Auditing. He has worked as Financial Advisor of Hamdan Bin Mohammad Heritage Centre in Dubai-UAE
  
  
</p>  


      </div>
    </div>

      <!-- <div >

        <img src="assets/Shafiq-UR-Rehman.jpg" style="width: 270px; height: 270px;">
        <p>Shafiq UR Rehman</p>

      </div> -->
      

      <!-- /// -->
  </div>
  <div class="p-col">
    
</div>





  </div>
    <!-- <div class="row height">
        <div class="col-9">    start of col 9  
  
            <div class="row">

               <div class="col-4">
        <img src="assets/phone.jpg" style="width: 15px; height: 15px; margin-left: 88px; margin-top: 15px;">
        <span  style="margin-left: 18px; margin-top: 15px;">+97142287774</span>
        <div>
          <img src="assets/subscribe.png" style="width: 115px; height: 18px; margin-left: 88px; margin-top: -9px;">
      

        </div>
      </div>
        <div class="col-3" style=" margin-left: -40px;">
              <img src="assets/phone.jpg" style="width: 15px; height: 15px;">
        <a href="mailto:info@aaa-cas.com" style="color: white;">info@aaa-cas.com</a>
      </div>
    
      <div class="col-4" style=" margin-left: -50px;">
        
          <a href="FINTECH.ASPX" style="color: white;">ISLAMIC FINTECH PROGRAMME</a> 
</div>
    
    </div>
     
    
    </div>
     end of col 9  



        <div class="col-2 d-flex justify-content-end" >
          <img src="assets/facebook.png" style="width: 15px; height: 15px;margin-right: 15px;">
          <img src="assets/instagram.jpg" style="width: 15px; height: 15px;margin-right: 15px;">
          <img src="assets/linkin.png" style="width: 15px; height: 15px;margin-right: 15px;">
         </div>
    </div> start of row height   

   
  </div> 


  <div class="container-fluid  ">

    <div class="row height1">
        <div class="col-3">    start of col 9 
  
       
        <img src="assets/logo.png" style="width: 145px; height: 65px; margin-left: 85px; margin-top: -10px;">
       
     
    
    </div>
       end of col 9  



        <div class="col-9 d-flex justify-content-start" >
          
          <div class="d-flex">
           
            <div class="p-2"><a href="default.aspx">Home</a></div>
            <div class="p-2"><a href="about-us.aspx">About us</a></div>
            <div class="p-2"><a href="VATinUAE.aspx">VAT</a></div>
            <div class="p-2"><a href="VATinUAE.aspx">SERVICES</a></div>
            <div class="p-2"><a href="VATinUAE.aspx">AFFILIATION</a></div>
            <div class="p-2"><a href="VATinUAE.aspx">OUR TEAM</a></div>
            <div class="p-2"><a href="VATinUAE.aspx">ADVISORS</a></div>
            <div class="p-2"><a href="VATinUAE.aspx">CAREER</a></div>
            <div class="p-2"><a href="VATinUAE.aspx">CONTACT</a></div>
          
          </div>
       
         </div>
    </div> start of row height   

   
  </div> 
 -->

  <!-- <div id="header-top">
    
    <div class="container">
      <div class="row">
        <div class="col-sm-7">
          
          <div class="widget widget-contact">
          
            <ul>
              <li>    
                <i class="mt-icon-phone"></i>
                <span class="hidden-xs">+97142287774</span>
                <a class="visible-xs-inline" href="tel:8564386826">+97142287774</a>
              </li>
              <li>
                <i class="mt-icon-mail2"></i>
                <a href="mailto:info@aaa-cas.com">info@aaa-cas.com</a>
              </li>
            </ul>
            
          </div> widget-contact 
          
        </div>col 



        <div class="col-sm-5">
          
          <div class="widget widget-social">
                  
            <div class="social-media rounded">
            
              <a class="facebook" href="https://www.facebook.com/Ahmad-Alagbari-Chartered-Accountants-1383109085303405/" target="_blank"><i class="mt-icon-facebook"></i></a>
              <a class="instagram" href="https://www.instagram.com/ahmadalagbaricas/" target="_blank"><i class="mt-icon-instagram"></i></a>
              <a class="linkedin" href="https://www.linkedin.com/company/ahmad-alagabari-chartered-accountants" target="_blank"><i class="mt-icon-linkedin"></i></a>                               
          
            </div> social-media 
          
          </div> widget-social 
          
        </div> col 
      </div> row 
    </div> container 
    
  </div>header-top 
  
  <div id="header">
    
    <div class="container">
      <div class="row">
        <div class="col-sm-3">
          
          LOGO 
          <div id="logo">
            <a href="default.aspx">
              <img src="assets/images/logo.png" alt="">
            </a>
          </div> LOGO 
          
        </div> col 
        <div class="col-sm-9">
          
          MENU
          <nav>
          
            <a id="mobile-menu-button" href="#"><i class="mt-icon-menu"></i></a>
                     
            <ul class="menu clearfix sf-js-enabled sf-arrows" id="menu" style="touch-action: pan-y;">
              <li><a href="default.aspx">Home</a></li>
                                <li><a href="about-us.aspx">About us</a></li>
               <li><a href="VATinUAE.aspx">VAT</a></li>
                                <li class="dropdown"><a href="services.aspx" class="sf-with-ul">Services</a>
                                    <ul style="display: none; visibility: visible;">
                  <li><a href="accounting-services.aspx">Accounting</a></li>
                  <li><a href="audit-assurance-services.aspx">Audit &amp; Assurance</a></li>
                                        <li><a href="incorporation-liquidation-services-services.aspx">Incorporation &amp; Liquidation services</a></li>
                                        <li><a href="international-audit-supervision-services.aspx">International Audit &amp; Supervision</a></li>
                                        <li><a href="outsourcing-payroll-services.aspx">Outsourcing &amp; Payroll</a></li>
                                        <li><a href="off-shores-services.aspx">Off Shores</a></li>
                                        <li><a href="corporate-finance-services.aspx">Corporate Finance</a></li>
                                        <li><a href="software-development-services.aspx">Software Development</a></li>
                </ul>
                                </li>
                                <li><a href="affiliations.aspx">Affiliations</a></li>
                                <li class="active"><a href="team.aspx">Our Team</a></li>
                                <li><a href="advisor.aspx">Advisors</a></li>
                                <li><a href="career.aspx">Career</a></li>
              <li class="dropdown"><a href="#" class="sf-with-ul">Contact</a>
                                    <ul style="display: none; visibility: visible;">
                  <li><a href="contact.aspx">Contact Us</a></li>
                                        <li><a href="contact.aspx#offices">Our Offices</a></li>
                                    </ul>
                                </li>
              <li class="search">
                
                <a class="hidden-xs hidden-sm" href="#"><i class="mt-icon-magnifying-glass"></i></a>
                
                <div id="search-form-container">
                    
                  <form id="search-form" action="#">
                    <input id="search" type="search" name="search" placeholder="Enter keywords...">
                    <input id="search-submit" type="submit" value="">
                  </form>
                  
                </div> search-form-container 
              
              </li>
            </ul>
          
          </nav>
        
        </div>col 
      </div> row 
    </div> container
  
  </div><ul class="" id="mobile-menu" style="touch-action: pan-y; display: none;">
              <li><a href="default.aspx">Home</a></li>
                                <li><a href="about-us.aspx">About us</a></li>
               <li><a href="VATinUAE.aspx">VAT</a></li>
                                <li class="dropdown"><a href="services.aspx" class="sf-with-ul">Services</a>
                                    <ul style="display: none; visibility: visible;">
                  <li><a href="accounting-services.aspx">Accounting</a></li>
                  <li><a href="audit-assurance-services.aspx">Audit &amp; Assurance</a></li>
                                        <li><a href="incorporation-liquidation-services-services.aspx">Incorporation &amp; Liquidation services</a></li>
                                        <li><a href="international-audit-supervision-services.aspx">International Audit &amp; Supervision</a></li>
                                        <li><a href="outsourcing-payroll-services.aspx">Outsourcing &amp; Payroll</a></li>
                                        <li><a href="off-shores-services.aspx">Off Shores</a></li>
                                        <li><a href="corporate-finance-services.aspx">Corporate Finance</a></li>
                                        <li><a href="software-development-services.aspx">Software Development</a></li>
                </ul>
                                </li>
                                <li><a href="affiliations.aspx">Affiliations</a></li>
                                <li class="active"><a href="team.aspx">Our Team</a></li>
                                <li><a href="advisor.aspx">Advisors</a></li>
                                <li><a href="career.aspx">Career</a></li>
              <li class="dropdown"><a href="#" class="sf-with-ul">Contact</a>
                                    <ul style="display: none; visibility: visible;">
                  <li><a href="contact.aspx">Contact Us</a></li>
                                        <li><a href="contact.aspx#offices">Our Offices</a></li>
                                    </ul>
                                </li>
             <li class="search">
                
                <a class="hidden-xs hidden-sm" href="#"><i class="mt-icon-magnifying-glass"></i></a>
                
                <div id="search-form-container">
                    
                  <form id="search-form" action="#">
                    <input id="search" type="search" name="search" placeholder="Enter keywords...">
                    <input id="search-submit" type="submit" value="">
                  </form>
                  
                </div> search-form-container 
              
              </li>
            </ul> header 
  
    -->