
  <div class="container-fluid">
   
    <div class=" headeradviser">
      <h4>
      <strong>accounting</strong>
    </h4>
      
    </div>
    <!-- <div class=" headeradviser1">
      <h2>
      <strong>Leading Edge Alliance Tax Consultant</strong>
    </h2>
    <img src="assets/lea.png" style="width: 120px; height: 60px;">
     <p-galleria  panelWidth="500" panelHeight="313" ></p-galleria> 
    <h4 style="color: #45bbff;">
      SUBSIDIARY OF AHMAD ALAGBARI CHARTERED ACCOUNTANTS
    </h4>
   
    </div> -->

    
  
  




<div class="p-grid p-align-start vertical-container align">
  <div class="p-col-7 clearfloat">
   
    <div class="row clearfloat">

      
      <div class="col-12 clearfloat">
       
        

<p class="h5">
  Accounting
</p>

<ul class="check-list"><li>Our global network have been advising and implementing strategies to help organizations comply with their VAT obligations and reduce VAT liabilities and particularly for clients without full VAT recovery.</li>
  <li>Identification of relevant VAT law clauses.</li>
  <li>Impact assessment of VAT on the current accounting cycle.</li>
  <li>Impact assessment of VAT on Procurement &amp; Supply chain.</li>
                     <li>VAT coding of accounts payables &amp; receivables.</li>
                                       <li>VAT impact on the Contracts.</li>
                                       <li>Giving VAT Training Certificates.</li>
                                       <li>VAT consultancy under the name of Leading Edge Alliance Tax Consultants</li>
                                       </ul>



      </div>
    </div>

    
  </div>
  <div class="p-col-5">
    <div class="col-12 clearfloat">
      <img src="assets/Shafiq-UR-Rehman.jpg" style="width: 270px; height: 270px;">
      
    </div>
</div>









</div>
   