
  <div class="container-fluid">
   
    <div class=" headeradviser">
      <h4>
      <strong>Services</strong>
    </h4>
      
    </div>
    <div class=" headeradviser1">
      <h4>
      <strong>Our Services</strong>
    </h4>
      
    </div>

    <div >
<p class=" textf">
    Our client relationship partners take responsibility for understanding your needs, bringing the right specialists together to meet them and ensuring you receive a consistently high quality 
<br>
    of service.

    <p>
  </div>
  <div class="p-grid p-align-start vertical-container align">

    <div class="p-col-8 clearfloat">
     
      <div class="row clearfloat">
        <div class="col-1 clearfloat" style="margin-right: 20px;" >
          <img src="assets/Shafiq-UR-Rehman.jpg" style="width: 90px; height: 70px;">
        </div>
        
        <div class="col-10 clearfloat">
         <h5>Accounting </h5>
          
  
  <p>
  
    Our comprehensive range of accounting services will help you comply with all the relevant reporting regulations. As well as full statutory year-end financial statements, we can provide monthly or quarterly management accounts and assistance with the preparation of budgets and projections.

    We ensure that the financial statements are complying with International Financial Reporting Standards (IFRSs) and are committed to keep the highest level of professional standards and quality.
  </p>
  <br>
  <ul class="check-list">
    <li>Financial accounting system design &amp; implementation</li>
    <li>Setting up of accounting procedures</li>
    <li>Accounts updation on periodical basis</li>
    <li>Supervision and review of financial accounting records</li>
                       <li>Financial reporting</li>
                      </ul>
                     
  
        </div>
      </div>
  
      
    </div>
    <div class="p-col-2">
        <img src="assets/Shafiq-UR-Rehman.jpg" style="width: 210px; height: 210px;">
        
     </div>
  </div>
<!--   
  new dive -->

  <div class="p-grid p-align-start vertical-container align">

    <div class="p-col-8 clearfloat">
     
      <div class="row clearfloat">
        <div class="col-1 clearfloat" style="margin-right: 20px;" >
          <img src="assets/Shafiq-UR-Rehman.jpg" style="width: 90px; height: 70px;">
        </div>
        
        <div class="col-10 clearfloat">
         <h5>Audit & Assurance </h5>
          
  
  <p>
  
    Our audit specialists can provide an efficient and independent report to your shareholders about the company's profitability and state of affairs. A good audit should also provide insight into areas to focus on for enhancing the performance of your business. We provide a comprehensive range of dedicated corporate finance services. We are a relatively small integrated team providing you with director level advice and support. Working closely with other relevant teams including corporate tax, accountancy, private client and business advisory specialists, we ensure that at all times the advice we give encompasses all your needs.  </p>
  <br>
  <ul class="check-list">
    <li>  Audit services :</li>
      <li>External audit</li>
        <li>Information systems audit and risk management</li>
          <li>Internal audit & review engagements</li>
            <li>Internal control system study and evaluation</li>
              <li>Assurance services</li>
                <li>Mergers & acquisitions</li>
                  <li>Due diligence</li>
                    <li>Pre-audit</li>
                      <li>Business restructuring</li>
                        <li>Business valuations</li>
                          <li>Forensic and other investigations</li>
    
                      </ul>
                     
  
        </div>
      </div>
  
      
    </div>
    <div class="p-col-2">
        <img src="assets/Shafiq-UR-Rehman.jpg" style="width: 210px; height: 210px;">
        
     </div>
  </div>
<!-- 
  new div -->
  <div class="p-grid p-align-start vertical-container align">

    <div class="p-col-8 clearfloat">
     
      <div class="row clearfloat">
        <div class="col-1 clearfloat" style="margin-right: 20px;" >
          <img src="assets/Shafiq-UR-Rehman.jpg" style="width: 90px; height: 70px;">
        </div>
        
        <div class="col-10 clearfloat">
         <h5>RERA Audit </h5>
          
  
  <p>
  
    
    The Real Estate Regulatory Authority of UAE has approved about 25 auditors for carrying out audits of projects registered with them. These audits are essential for ESCROW Accounts, owners’ associations and trustee accounts. It is a part of the essential requirements prescribed by the RRA. We provide the above services for clients registered with RERA. Our staff has experience for the last decade in carrying out this specialized service  </p>
  <br>
  
                     
  
        </div>
      </div>
  
      
    </div>
    <div class="p-col-2">
        <img src="assets/Shafiq-UR-Rehman.jpg" style="width: 210px; height: 210px;">
        
     </div>
  </div>
<!-- 
  new dive -->

  <div class="p-grid p-align-start vertical-container align">

    <div class="p-col-8 clearfloat">
     
      <div class="row clearfloat">
        <div class="col-1 clearfloat" style="margin-right: 20px;" >
          <img src="assets/Shafiq-UR-Rehman.jpg" style="width: 90px; height: 70px;">
        </div>
        
        <div class="col-10 clearfloat">
         <h5>Incorporation & Liquidation Services </h5>
          
  
  <p>
  
    We provide liquidation services for all entities - limited liability companies, free zone companies and offshore companies across Dubai, Sharjah, Ajman, Abu Dhabi, Fujairah, and Ras Al Khaimah. We also assist in the preparation of Board resolution, power of attorney, audit report, liquidator’s statement etc., which are mandatory documents required for liquidation  </p>
  <br>
  <ul class="check-list">
    <li>  Appointment as liquidator</li>
      <li>Administer the liquidation process</li>
        <li>Supervise asset disposals</li>
          <li>Direct payments to creditors</li>
            <li>Liaise with liquidation accountants</li>
              <li>Process third party liquidation costs</li>
                <li>File de-registrations and other formal notifications</li>
                  <li>Administer the complete documentation</li>
                    <li>Supervise the on-going and liquidation specific accounting requirements</li>
    
                      </ul>
                     
  
        </div>
      </div>
  
      
    </div>
    <div class="p-col-2">
        <img src="assets/Shafiq-UR-Rehman.jpg" style="width: 210px; height: 210px;">
        
     </div>
  </div>
      <!-- new div -->


      <div class="p-grid p-align-start  align" style="background-color: #1a1e21; color: whitesmoke;">
        <div class="p-col-6">
         
              <img src="assets/Shafiq-UR-Rehman.jpg" style="width: 190px; height: 210px; margin-bottom: 50px ;">
          
        </div>
        <div class="p-col-6">
         
          <div class="p-grid p-align-start  align" >
            <div class="p-col-2">
              <img src="assets/Shafiq-UR-Rehman.jpg" style="width: 90px; height: 90px; margin-bottom: 320px ;">
              <img src="assets/Shafiq-UR-Rehman.jpg" style="width: 90px; height: 90px; margin-bottom: 588px ;">
              <img src="assets/Shafiq-UR-Rehman.jpg" style="width: 90px; height: 90px; margin-bottom: 5px ;">
  
            </div>
            <div class="p-col-10">
              <h5>International Audit & Supervision </h5>
              
      
              <p>
              
                
                AAA is a member of Global Accounting and business Advisors Alliance - GAABA, an international alliance of independent accounting firms. With global reach via an alliance of dynamic international, national and regional firms, GAABA opens a new horizon for accounting services across the globe.

                Internal Auditors’ roles include supervising, evaluating, investigating and analyzing organizational risk and controls; and reviewing and confirming information and compliance with policies, procedures, and laws. Working together with management, the internal auditors provide assurance that as far as possible risks are significantly reduced and that the organization’s corporate governance is forceful and capable. In addition Internal auditors make recommendations for And, when there is room for improvement, internal auditors make recommendations for augmenting processes, policies, and procedures.”      
              <br>
              <h5>  Off Shores </h5>
              We offer a wide-range of specialist offshore services that can help you to protect your assets, and minimise your tax liabilities through offshore structures, including trusts and companies.
              <br> 
              <h5> UAE Offshore Incorporation - Features and regulations:</h5>
              
              <ul class="check-list">
               
                <li>  The capital of the company can be any amount divided into any denomination.</li>
                  <li>  The minimum number of shareholders and directors is one.</li>
                    <li>  All shares must be fully paid when allocated and no bearer shares or differential classes of shares are allowed. However, there is no requirement to deposit the capital in bank.</li>
                      <li> 100% foreign ownership permitted and 100% tax and duty exemption exists on UAE off shore incorporation companies.</li>
                        <li>  Opening a corporate bank account in a bank at Dubai, UAE is permitted.
                          <li>  A registered agent (legal firms, auditors, consultants) is required to be appointed by the Company from the approved list of registered agents maintained by UAE Free Zone.</li>
                .            <li>  The Offshore domicile is located in the UAE Free Zone.
                              <li>   The investors need not visit the authority to incorporate the company, however the documents need to be signed in the registered agent's office.</li>
                                <li>   Audited financials will be requested only in case of suspicion.</li>
                 
                
                                    </ul>
                                    <br>
                                    <h5>  Corporate Finance </h5>
                                    
                                    We offer our expertise to provide optimal capital structure at least cost of capital to the organization. We facilitate to cater to the borrowing needs of the organization by leveraging our strong relationships with the banks and financial institutions.

                                  </div>
                                  </div>
        </div>





      
    </div>
    

   <!-- new div -->
   <div class="p-grid p-align-start  align">
    <div class="p-col-6">
     
          <img src="assets/Shafiq-UR-Rehman.jpg" style="width: 190px; height: 210px; margin-bottom: 50px ;">
      <br>    <img src="assets/Shafiq-UR-Rehman.jpg" style="width: 190px; height: 210px; margin-bottom: 50px ;">
      
    </div>
    <div class="p-col-6">
     
          
          <h5>Outsourcing & Payroll </h5>
          
  
          <p>
          
            
            If you are considering outsourcing your financial administration, we are well placed to assess your needs and provide the solution. We deliver consistent service quality that meets your evolving needs. Whatever the size of your organisation, our computerised and fully automated payroll service can free you from the burden of running payroll.        <br>
          
            <ul class="check-list">

              <li>  Business Risk Services.</li>
                <li>Transaction Advisory Services.</li>
                  <li>Forensic & Investigation Services.</li>
                    <li>Business Diagnostic & Restructuring.</li>
                      <li>Market Research & Analysis.</li>
                        <li>Fixed Assets Management Services.</li>
                          <li>Investment Counselling and Project Finance.</li>
            
                                </ul>
    </div>
  
</div>




    <!-- new div -->


    <div class="p-grid p-align-start vertical-container align">

      <div class="p-col-11 clearfloat">
       
        <div class="row clearfloat">
          <div class="col-1 clearfloat" style="margin-right: 20px;" >
            <img src="assets/Shafiq-UR-Rehman.jpg" style="width: 90px; height: 70px;">
          </div>
          
          <div class="col-12 clearfloat">
           <h5>Software Development </h5>
            
    
    <p>
    
      
      We provide specialist IT advice and support at all key stages of the business cycle, from the initial requirement to development and implementation of complex ERP Systems. Our core expertise is to develop customize IT solutions for Manufacturing and Banking Industry of Pakistan.

      The payroll module automates the pay process by gathering data on employee time and attendance, calculating various deductions and taxes, and generating periodic pay cheques and employee tax reports. Data is generally fed from the human resources and time keeping modules to calculate automatic deposit and manual cheque writing capabilities. This module can encompass all employee-related transactions as well as integrate with existing financial management systems.
      
      The HR management module is a component covering many other HR aspects from application to retirement. The system records basic demographic and address data, selection, training and development, capabilities and skills management, compensation planning records and other related activities. Leading edge systems provide the ability to "read" applications and enter relevant data to applicable database fields, notify employers and provide position management and position control. Human resource management function involves the recruitment, placement, evaluation, compensation and development of the employees of an organization.
      
      <br>
    
                       
    
          </div>
        </div>
    
        
      </div>
      
    </div>






  
    <div class="p-grid p-align-start vertical-container align">
      <div class="p-col clearfloat">
       
        <div class="row clearfloat">
  
          <div class="col-6 clearfloat">
            <img src="assets/Shafiq-UR-Rehman.jpg" style="width: 270px; height: 270px;">
            
          </div>
          <div class="col-6 clearfloat">
            <p>Shafiq UR Rehman</p>
            <p>FCPA, FCCEA, MBA</p>
            <p>Advisor</p> 
            
  
  <p>
  
    He is fellow member of Institute of Certified Public Accountant of United Kingdom and Pakistan and Fellow member of Certified Corporate Executive Accountant (USA), Associate of Financial
  </p>
    <p class="clearfloat">Accountant (UK), Certificate in IFRS(ACCA), IPA (Australia), Member of IFA, Certificate in USA Federal Taxation(Devry University) and holds Master Degree in Business and Administration.
  
      He has over 20 years diversified experience in UAE/Pakistan in financial accounting & financialmanagement, internal & external Auditing. He has worked as Financial Advisor of Hamdan Bin Mohammad Heritage Centre in Dubai-UAE
      
      
    </p>  
  
  
          </div>
        </div>
  
          <!-- <div >
  
            <img src="assets/Shafiq-UR-Rehman.jpg" style="width: 270px; height: 270px;">
            <p>Shafiq UR Rehman</p>
  
          </div> -->
          
  
          <!-- /// -->
      </div>
      <div class="p-col">
        <div class="row clearfloat">
  
         
          <div class="col-6 clearfloat">
            <p>Shafiq UR Rehman</p>
            <p>FCPA, FCCEA, MBA</p>
            <p>Advisor</p> 
            
  
  <p>
  
    He is fellow member of Institute of Certified Public Accountant of United Kingdom and Pakistan and Fellow member of Certified Corporate Executive Accountant (USA), Associate of Financial
  </p>
    <p class="clearfloat">Accountant (UK), Certificate in IFRS(ACCA), IPA (Australia), Member of IFA, Certificate in USA Federal Taxation(Devry University) and holds Master Degree in Business and Administration.
  
      He has over 20 years diversified experience in UAE/Pakistan in financial accounting & financialmanagement, internal & external Auditing. He has worked as Financial Advisor of Hamdan Bin Mohammad Heritage Centre in Dubai-UAE
      
      
    </p>  
  
  
          </div>
      
          <div class="col-6 clearfloat">
            <img src="assets/Shafiq-UR-Rehman.jpg" style="width: 270px; height: 270px;">
            
          </div>
      
      
        </div>
     
  </div>
  
  
  
  
  <div class="p-grid p-align-start vertical-container align">
    <div class="p-col clearfloat">
     
      <div class="row clearfloat">
  
        <div class="col-6 clearfloat">
          <img src="assets/Shafiq-UR-Rehman.jpg" style="width: 270px; height: 270px;">
          
        </div>
        <div class="col-6 clearfloat">
          <p>Shafiq UR Rehman</p>
          <p>FCPA, FCCEA, MBA</p>
          <p>Advisor</p> 
          
  
  <p>
  
  He is fellow member of Institute of Certified Public Accountant of United Kingdom and Pakistan and Fellow member of Certified Corporate Executive Accountant (USA), Associate of Financial
  </p>
  <p class="clearfloat">Accountant (UK), Certificate in IFRS(ACCA), IPA (Australia), Member of IFA, Certificate in USA Federal Taxation(Devry University) and holds Master Degree in Business and Administration.
  
    He has over 20 years diversified experience in UAE/Pakistan in financial accounting & financialmanagement, internal & external Auditing. He has worked as Financial Advisor of Hamdan Bin Mohammad Heritage Centre in Dubai-UAE
    
    
  </p>  
  
  
        </div>
      </div>
  
        <!-- <div >
  
          <img src="assets/Shafiq-UR-Rehman.jpg" style="width: 270px; height: 270px;">
          <p>Shafiq UR Rehman</p>
  
        </div> -->
        
  
        <!-- /// -->
    </div>
    <div class="p-col">
      
  </div>
  
  
  



</div>
   